<div id="container">
    <div id="attribute-header">
        {{ toolName }}
    </div>

    <form [formGroup]="penAttributesForm">
        <div class="attribute">
            <label for="maxThickness">Épaisseur du trait maximum</label>
            <mat-slider
                formControlName="maxThickness"
                (input)="onMaxSliderChange($event)"
                [min]="THICKNESS.Min"
                value="{{ penAttributesForm.value.maxThickness }}"
            ></mat-slider>
            <mat-form-field class="small">
                <input
                    autocomplete="off"
                    (focus)="onFocus()"
                    (focusout)="onFocusOut()"
                    matInput
                    type="number"
                    formControlName="maxThickness"
                    (input)="onMaxThicknessChange()"
                    [min]="THICKNESS.Min"
                    [max]="THICKNESS.Max"
                />
                <mat-error>La valeur inscrite doit être entre {{ THICKNESS.Min }} et {{ THICKNESS.Max }} px</mat-error>
                <span matSuffix>px</span>
            </mat-form-field>
        </div>

        <div class="attribute">
            <label for="minThickness">Épaisseur du trait minimum</label>
            <mat-slider
                formControlName="minThickness"
                (input)="onMinSliderChange($event)"
                [min]="THICKNESS.Min"
                [max]="penAttributesForm.value.maxThickness"
                value="{{ penAttributesForm.value.minThickness }}"
            ></mat-slider>
            <mat-form-field class="small">
                <input
                    autocomplete="off"
                    (focus)="onFocus()"
                    (focusout)="onFocusOut()"
                    matInput
                    type="number"
                    formControlName="minThickness"
                    (input)="onMinThicknessChange()"
                    [value]="penAttributesForm.value.minThickness"
                    [min]="THICKNESS.Min"
                    [max]="penAttributesForm.value.maxThickness"
                />
                <mat-error
                    >La valeur inscrite doit être entre {{ THICKNESS.Min }} et
                    {{ penAttributesForm.value.maxThickness }} px</mat-error
                >
                <span matSuffix>px</span>
            </mat-form-field>
        </div>
    </form>
</div>
