{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "arrowParens": "always",
    "disableLanguages": [],
    "endOfLine": "lf",
    "trailingComma": "all"
}
