<mat-drawer-container id="container" >
	<mat-drawer class="sidebar" mode="side" opened >
		<mat-button-toggle-group vertical="true" name="fontStyle" aria-label="Font Style" >
            <mat-button-toggle matTooltip="Sélection" matTooltipPosition = "after"  (click)="changeTool(1)">
                <i class="fas fa-mouse-pointer"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Crayon" matTooltipPosition = "after"  (click)="changeTool(2)">
                <i class="fas fa-pencil-alt"></i>
             </mat-button-toggle>
            <mat-button-toggle matTooltip="Pinceau" matTooltipPosition = "after"  (click)="changeTool(3)">
                <i class="fas fa-paint-brush"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Plume" matTooltipPosition = "after"  (click)="changeTool(4)">
                <i class="fas fa-pen-nib"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Stylo" matTooltipPosition = "after"  (click)="changeTool(5)">
                <i class="fas fa-pen-alt"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Aérosol" matTooltipPosition = "after"  (click)="changeTool(6)">
                <i class="fas fa-spray-can"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Ligne" matTooltipPosition = "after"  (click)="changeTool(7)">
                <strong>/</strong>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Carré" matTooltipPosition = "after"  (click)="changeTool(8)">
                <i class="far fa-square"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Polygone" matTooltipPosition = "after"  (click)="changeTool(14)">
                <i class="fas fa-draw-polygon"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Ellipse" matTooltipPosition = "after"  (click)="changeTool(9)">
                <i class="far fa-circle"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Applicateur de couleur" matTooltipPosition = "after"  (click)="changeTool(10)">
                <i class="fas fa-fill-drip">
                    
                </i></mat-button-toggle>
            <mat-button-toggle matTooltip="Sélecteur de couleur" matTooltipPosition = "after"  (click)="changeTool(11)"><i class="fas fa-eye-dropper"></i></mat-button-toggle>
            <mat-button-toggle matTooltip="Efface" matTooltipPosition = "after"  (click)="changeTool(12)">
                <i class="fas fa-eraser"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Pallete de couleur" matTooltipPosition = "after"  (click)="changeTool(13)">
                <i class="fas fa-palette"></i>
            </mat-button-toggle>
            <mat-button-toggle matTooltip="Texte" matTooltipPosition = "after"  (click)="changeTool(14)">
                 <strong>T</strong>
                </mat-button-toggle>
        </mat-button-toggle-group>
	</mat-drawer>
	<mat-drawer-content>
        <app-attribute-panel [toolId]="toolId"></app-attribute-panel>
    </mat-drawer-content>
</mat-drawer-container>
