<h1 mat-dialog-title>Exporter le dessin</h1>

<div id="wrapper">
    <mat-dialog-content class="mat-typography" [formGroup]="exportFileModalForm">
        <mat-label id="input-description">
            Le nom de fichier ne doit pas contenir de caractères spéciaux ('.' ou '-')
        </mat-label>
        <input
            autocomplete="off"
            matInput
            class="file-name-input"
            formControlName="filename"
            #input
            placeholder="Nom du fichier"
        />
        <div class="file-type-field">
            <mat-form-field>
                <mat-label class="file-type-label">
                    Type de fichier
                </mat-label>
                <mat-select [(value)]="selected" formControlName="fileType">
                    <mat-option value="{{ FILE_TYPE.SVG }}">SVG</mat-option>
                    <mat-option value="{{ FILE_TYPE.BMP }}">BMP</mat-option>
                    <mat-option value="{{ FILE_TYPE.JPG }}">JPG</mat-option>
                    <mat-option value="{{ FILE_TYPE.PNG }}">PNG</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-label class="file-name-title">Nom du fichier</mat-label>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <div class="footer">
            <div class="submit-button-group">
                <button class="actionButton" mat-stroked-button type="button" (click)="closeDialog()">
                    Annuler
                </button>
                <button
                    class="actionButton"
                    mat-stroked-button
                    type="submit"
                    [disabled]="exportFileModalForm.controls.filename.invalid"
                    (click)="onSubmit()"
                >
                    Exporter
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
