<h1 mat-dialog-title>Exporter le dessin</h1>

<mat-dialog-content class="mat-typography"> </mat-dialog-content>
<form [formGroup]="exportFileModalForm">
    <div *ngIf="!exportToolService.workzoneIsEmpty">
        Veuillez choisir le format de l'image à exporter :
        <mat-form-field>
            <mat-select formControlName="fileType">
                <mat-option value="{{ FileType.SVG }}">SVG</mat-option>
                <mat-option value="{{ FileType.BMP }}">BMP</mat-option>
                <mat-option value="{{ FileType.JPG }}">JPG</mat-option>
                <mat-option value="{{ FileType.PNG }}">PNG</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>
<div *ngIf="exportToolService.workzoneIsEmpty">
    Vous devez tout d'abord créer un dessin pour pouvoir l'exporter ! <br />
</div>

<mat-dialog-actions id="footer" align="end">
    <button class="actionButton" mat-stroked-button type="button" (click)="onCancel()">Annuler</button>
    <button
        class="actionButton"
        mat-stroked-button
        type="submit"
        (click)="onSubmit()"
        *ngIf="!exportToolService.workzoneIsEmpty"
    >
        Exporter
    </button>
    <a #anchor></a>
</mat-dialog-actions>
