::ng-deep.mat-dialog-content {
    margin: 0 !important;
}

#filters {
    margin: 10px;
}

.mat-typography,
.mat-typography-local {
    display: grid;
    align-self: center;
    padding: 15px 40px;
    width: 640px;
}

.tab-content {
    min-height: 250px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

#header {
    display: grid;
    grid-template-columns: 90px 380px 80px;
    grid-template-rows: 20px;
    align-self: center;
    margin: 15px 30px 0 30px;

    #name-title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #label-title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #preview-title {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

#selection-list {
    ::ng-deep.mat-pseudo-checkbox {
        display: none !important;
    }

    #list-option {
        padding: 5px;
        height: 65px;
    }
}

#drawing-option {
    display: grid;
    grid-template-columns: 120px 400px 105px;
    grid-template-rows: minmax(65px, auto) 15px;
    align-self: center;
    width: 100%;

    #drawing-name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        display: flex;
        align-self: center;
        justify-content: center;
    }

    #drawing-labels-list {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-self: center;

        #drawing-label {
            padding: 3px 6px;
            margin: 3px 4px;
            min-width: 60px;
            font-size: 12px;
            text-align: center;
            border: 1px solid;
            border-radius: 5px;
        }
    }

    #drawing-thumbnail {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        margin-left: -25px;

        height: 60px;
        width: 60px;
        padding: 0;
    }

    #drawing-created-at {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        font-size: 10px;
        line-height: 1;
    }
}

mat-list-option[aria-selected='true'] {
    background: #dddddd;
}

.filter {
    padding: 5px;
}

.hidden-info {
    margin: 10px;
    text-align: center;
    color: #8f8f8f;
}

.center {
    display: flex;
    align-self: center;
    justify-content: center;
}

#loading-div {
    max-height: 600px;
    margin: 20px;
    text-align: center;
    #img {
        width: 150px;
    }
}

.confirmation {
    margin-top: 20px;
}

#input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#destination-label {
    font-size: 14px;
    align-self: center;
}

#destination-path {
    margin: 0 10px 0 0;
    text-align: left;
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.87);

    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
        0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    line-height: 20px;
    font-size: 12px;
    outline: none;
    cursor: default;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #ff5722;
}

::ng-deep.mat-dialog-actions {
    margin-bottom: 0 !important;
    min-height: 40px;
}

.fas.fa-folder {
    font-size: 24px;
}

.submit-button-group-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.submit-button-group {
    align-self: flex-end;
    #clickable {
        cursor: pointer;
        text-decoration: underline;
    }
}

#clickable {
    cursor: pointer;
    text-decoration: underline;
}
