::ng-deep.mat-dialog-content {
    margin: 0 !important;
}

::ng-deep.mat-list-text {
    padding-right: 0 !important;
}

#content-wrapper {
    display: grid;
    grid-template-rows: minmax(428px, auto) 24px;
}

.mat-typography,
.mat-typography-local {
    align-self: center;
    height: 428px;
    padding-bottom: 6px;

    :focus {
        outline: none;
    }
}

.mat-typography-local {
    width: 674px;
}

.tab-content {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

#selection-list {
    ::ng-deep.mat-pseudo-checkbox {
        display: none !important;
    }

    padding: 0;

    #list-option {
        height: 100%;
        margin-top: 10px;

        border: 1px solid #e1e4e8;
        border-radius: 5px;
    }
}

#drawing-option {
    display: grid;
    grid-template-columns: 130px 450px 60px;
    grid-template-rows: minmax(50px, auto) 20px;

    #drawing-name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        font-size: 14px;

        display: flex;
        align-self: center;
        justify-content: flex-start;
    }

    #drawing-labels-list {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-self: center;

        #drawing-label {
            padding: 3px 6px;
            margin: 3px 4px;
            min-width: 60px;
            font-size: 12px;
            text-align: center;
            border: 1px solid;
            border-radius: 5px;
        }
    }

    #drawing-thumbnail {
        grid-column: 3 / 4;
        grid-row: 1 / 3;

        height: 60px;
        width: 60px;
        padding: 0;
        display: flex;
        align-self: center;
    }

    #drawing-created-at {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        font-size: 10px;
        line-height: 1;
        align-self: center;
        color: #586069;
    }
}

mat-list-option[aria-selected='true'] {
    background: #dddddd;
}

#filters {
    margin-top: 10px;
    width: 626px;
    align-self: center;
    margin-right: 42px;
}

.filter {
    height: 24px;
    padding: 2px 4px 2px 40px;
    margin: 4px 0;

    color: #586069;

    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;

    background-image: url('../../../../assets/search_icon.png');
    background-repeat: no-repeat;
    background-position: left 8px center;
    background-size: 20px;
}

.hidden-info {
    text-align: center;
    color: #8f8f8f;
}

#loading-div {
    height: 434px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 90px;

    #img {
        width: 150px;
    }
}

#content-local-wrapper {
    margin-top: 20px;
}

#input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#destination-label {
    font-size: 16px;
    align-self: center;
}

#destination-path {
    margin: 0 10px 0 0;
    text-align: left;
    padding: 2px 4px 2px 12px;

    color: rgba(0, 0, 0, 0.87);

    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
        0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    line-height: 20px;
    font-size: 14px;
    outline: none;
    cursor: default;

    width: 100%;
    height: 24px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #ff5722;
}

::ng-deep.mat-dialog-actions {
    margin-bottom: 0 !important;
    min-height: 40px;
}

.fas.fa-folder {
    font-size: 24px;
}

.footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.submit-button-group {
    align-self: flex-end;
    #clickable {
        cursor: pointer;
        text-decoration: underline;
    }
}

.confirmation {
    font-size: 14px;
    padding-left: 16px;
}

.error-message {
    display: flex;
    justify-content: center;
}

#clickable {
    cursor: pointer;
    text-decoration: underline;
}
