#selection-list {
    ::ng-deep.mat-pseudo-checkbox {
        display: none !important;
    }

    #list-option {
        padding: 5px;
        height: 65px;
    }
}

#drawing-option {
    display: grid;
    grid-template-columns: 100px 400px 80px;
    grid-template-rows: 65px;
    align-self: center;
    width: 100%;

    #drawing-name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        display: flex;
        align-self: center;
        justify-content: center;
    }

    #drawing-labels-list {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-self: center;

        #drawing-label {
            padding: 3px 6px;
            margin: 3px 4px;
            min-width: 60px;
            border-radius: 3px;
            font-size: 12px;
            text-align: center;
            border: 1px solid;
            border-radius: 5px;
        }
    }

    #drawing-thumbnail {
        grid-column: 3 / 4;
        grid-row: 1 / 2;

        height: 60px;
        width: 60px;
        padding: 0;
    }
}

mat-list-option[aria-selected='true'] {
    background: #c5c5c5;
}

#filter {
    margin-left: 2px;
}

#hidden-info {
    margin: 10px;
    text-align: center;
    color: #8f8f8f;
}
