<h1 mat-dialog-title>Ouvrir un dessin existant</h1>

<input matInput class="filter" [(ngModel)]="nameFilter" placeholder="Filter par nom ..." />
<input
    matInput
    class="filter"
    [(ngModel)]="labelFilter"
    placeholder="Filter par étiquettes (ex.: pomme, melon, etc.) ..."
/>

<mat-dialog-content [formGroup]="openFileModalForm">
    <div id="header">
        <div>
            Nom :
        </div>
        <div>
            Étiquettes :
        </div>
        <div>
            Aperçu :
        </div>
    </div>

    <mat-selection-list
        #drawings
        formControlName="selectedDrawing"
        (selectionChange)="handleSelection($event, drawings.selectedOptions)"
        id="selection-list"
        required
    >
        <mat-list-option
            *ngFor="
                let drawing of drawingsFromServer | nameFilter: nameFilter | labelFilter: labelFilter | slice: 0:6;
                let i = index
            "
            id="list-option"
            [value]="drawing.name"
        >
            <div *ngIf="i < 6">
                <div id="drawing-option">
                    <div id="drawing-name">
                        {{ drawing.name }}
                    </div>
                    <div id="drawing-labels-list">
                        <div id="drawing-label" *ngFor="let label of drawing.labels">
                            {{ label }}
                        </div>
                    </div>
                    <div id="drawing-thumbnail">
                        <svg
                            [attr.width]="getWidth(i)"
                            [attr.height]="getHeight(i)"
                            [attr.viewBox]="getViewBox(i)"
                            [innerHTML]="drawingsFromServer[i].svg | toTrustHtml"
                        ></svg>
                    </div>
                </div>
            </div>
        </mat-list-option>
    </mat-selection-list>
    <div
        class="hidden-info"
        *ngIf="(drawingsFromServer | nameFilter: nameFilter | labelFilter: labelFilter).length > 6"
    >
        {{ (drawingsFromServer | nameFilter: nameFilter | labelFilter: labelFilter).length - 6 }}
        {{
            (drawingsFromServer | nameFilter: nameFilter | labelFilter: labelFilter).length - 6 > 1
                ? 'dessins masqués ...'
                : 'dessin masqué ...'
        }}
    </div>
    <div
        class="hidden-info"
        *ngIf="(drawingsFromServer | nameFilter: nameFilter | labelFilter: labelFilter).length === 0"
    >
        Aucun dessin trouvé!
    </div>

    <!-- <div id="confirmation" [hidden]="drawingOpenSuccess">
        <mat-error>
            <i class="fas fa-exclamation-triangle"></i>
            L'ouverture du dessin n'a pas bien fonctionné... Veuillez réessayer.
            <i class="fas fa-exclamation-triangle"></i>
        </mat-error>
    </div> -->

    <div id="confirmation" [hidden]="emptyDrawStack">
        <mat-error class="center">
            <i class="fas fa-exclamation-triangle"></i>
            Un dessin existe déja dans votre zone de travail!
            <i class="fas fa-exclamation-triangle"></i>
        </mat-error>
        <mat-checkbox class="center" color="warn" formControlName="confirm" required>
            Je confirme que je ne veux pas sauvegarder le dessin existant.
        </mat-checkbox>
    </div>
</mat-dialog-content>

<mat-dialog-actions id="footer" align="end">
    <button class="actionButton" mat-stroked-button type="button" (click)="onCancel()">Annuler</button>
    <button class="actionButton" mat-stroked-button type="submit" [disabled]="formIsInvalid()" (click)="onSubmit()">
        Ouvrir
    </button>
</mat-dialog-actions>
