<h1 mat-dialog-title>Création d'un nouveau dessin</h1>
<mat-dialog-content class="mat-typography" [formGroup]="drawingModalForm">
    <div id="userColor">
        <span> Couleur de fond :</span>
        <button id="bigColor" class="color" type="button" [ngStyle]="getUserColorIcon()"></button>
        <br />
    </div>

    <app-color-picker></app-color-picker>
    <app-color-numeric-values></app-color-numeric-values>
    <app-color-queue (clickedColorButton)="onClickColorQueueButton($event)"></app-color-queue>

    <div class="formGroup">
        <mat-form-field>
            <input matInput type="number" placeholder="Largeur" formControlName="width" />
            <span matSuffix>px</span>
            <mat-error>La largeur doit être entre 0 et 10000!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Hauteur" formControlName="height" />
            <span matSuffix>px</span>
            <mat-error>La hauteur doit être entre 0 et 10000!</mat-error>
        </mat-form-field>
    </div>

    <div id="confirmation" [hidden]="blankWorkZone">
        <mat-error>
            <i class="fas fa-exclamation-triangle"></i>
            Un dessin existe déja dans votre zone de travail!
            <i class="fas fa-exclamation-triangle"></i>
        </mat-error>
        <mat-checkbox color="warn" formControlName="confirm" required>
            Je confirme que je veux créer un nouveau dessin.
        </mat-checkbox>
    </div>
</mat-dialog-content>
<mat-dialog-actions id="footer" align="end">
    <button class="actionButton" mat-stroked-button type="button" (click)="onCancel()">Annuler</button>
    <button
        class="actionButton"
        mat-stroked-button
        type="submit"
        [mat-dialog-close]="true"
        [disabled]="drawingModalForm.invalid"
        (click)="onSubmit()"
    >
        Créer!
    </button>
</mat-dialog-actions>
