#container {
    padding: 30px 40px;
    padding-bottom: 0px;

    #attribute-header {
        text-align: center;
        font-weight: bold;
    }

    .attribute {
        padding-top: 30px
    }
}

.mat-slider-horizontal {
    width: 170px;
}

.small {
    margin-left: 10px;
    width: 25%;
}

img {
    position: relative;
    top: 10px;
    left: 5px;
}

mat-select {
    white-space: nowrap;
    display: inline;
}

.strokeType1 {
    background: url('/assets/strokeType1.png') center / contain no-repeat;
}

.strokeType2 {
    background: url('/assets/strokeType2.png') center / contain no-repeat;
}

.strokeType3 {
    background: url('/assets/strokeType3.png') center / contain no-repeat;
}