<div id="container">
    <div id="attribute-header">
        {{ toolName }}
    </div>

    <form [formGroup]="magnetismAttributesForm">
        <div class="attribute">
            <label for="activateGrid">
                Activer le magnétisme
                <i
                    class="fas fa-info-circle"
                    matTooltip="Appuyez sur 'M' comme raccourci"
                    matTooltipPosition="after"
                ></i>
            </label>
            <br />
            <mat-slide-toggle formControlName="state" [checked]="onStateChange()" color="primary"></mat-slide-toggle>
        </div>

        <div class="attribute">
            <mat-button-toggle-group>
                <mat-button-toggle
                    *ngFor="let TOP_MAGNETISM_POINT of TOP_CONTROL_POINTS"
                    [value]="TOP_MAGNETISM_POINT.point"
                    [checked]="currentMagnetismPoint === TOP_MAGNETISM_POINT.point"
                    (click)="setMagnetismPoint(TOP_MAGNETISM_POINT.point)"
                    >{{ TOP_MAGNETISM_POINT.svg_icon }}</mat-button-toggle
                >
            </mat-button-toggle-group>

            <mat-button-toggle-group>
                <mat-button-toggle
                    *ngFor="let CENTER_MAGNETISM_POINT of CENTER_CONTROL_POINTS"
                    [value]="CENTER_MAGNETISM_POINT.point"
                    [checked]="currentMagnetismPoint === CENTER_MAGNETISM_POINT.point"
                    (click)="setMagnetismPoint(CENTER_MAGNETISM_POINT.point)"
                    >{{ CENTER_MAGNETISM_POINT.svg_icon }}</mat-button-toggle
                >
            </mat-button-toggle-group>

            <mat-button-toggle-group>
                <mat-button-toggle
                    *ngFor="let BOTTOM_MAGNETISM_POINT of BOTTOM_CONTROL_POINTS"
                    [value]="BOTTOM_MAGNETISM_POINT.point"
                    [checked]="currentMagnetismPoint === BOTTOM_MAGNETISM_POINT.point"
                    (click)="setMagnetismPoint(BOTTOM_MAGNETISM_POINT.point)"
                    >{{ BOTTOM_MAGNETISM_POINT.svg_icon }}</mat-button-toggle
                >
            </mat-button-toggle-group>
        </div>
    </form>
</div>
