#container {
    padding: 30px 40px;
    padding-bottom: 0px;

    #attribute-header {
        text-align: center;
        font-weight: bold;
    }

    .attribute {
        padding-top: 30px;
    }
}

.mat-slider-horizontal {
    width: 170px;
}

.small {
    margin-left: 10px;
    width: 25%;
}

img {
    position: relative;
    top: 10px;
    left: 5px;
}

#angle-attribute {
    width: 50%;
    display: block;
}

.class-Smiley {
    background: url('/assets/stamps/iconmonstr-smiley-14.svg') center / contain no-repeat;
}

.class-Cat {
    background: url('/assets/stamps/iconmonstr-cat-7.svg') center / contain no-repeat;
}

.class-Money {
    background: url('/assets/stamps/iconmonstr-coin-3.svg') center / contain no-repeat;
}

.class-Home {
    background: url('/assets/stamps/iconmonstr-home-8.svg') center / contain no-repeat;
}

.class-Hipster {
    background: url('/assets/stamps/iconmonstr-glasses-12.svg') center / contain no-repeat;
}
