<div id="container">
    <div id="attribute-header">
        {{ toolName }}
    </div>

    <form [formGroup]="stampAttributesForm">
        <div class="attribute">
            <label for="ladder">Mise à échelle</label>
            <mat-slider
                placeholder="value"
                formControlName="scaling"
                (input)="onSliderChange($event)"
                [min]="stampScaling.Min"
                [max]="stampScaling.Max"
                value="{{ stampAttributesForm.value.scaling }}"
            ></mat-slider>

            <mat-form-field class="small">
                <input
                    autocomplete="off"
                    (focus)="onFocus()"
                    (focusout)="onFocusOut()"
                    matInput
                    type="number"
                    formControlName="scaling"
                    (input)="onScalingChange()"
                    [min]="stampScaling.Min"
                    [max]="stampScaling.Max"
                />
                <mat-error>La valeur inscrite doit être entre {{ stampScaling.Min }} et {{ stampScaling.Max }}</mat-error>
            </mat-form-field>
        </div>

        <div class="attribute">
            <label for="ladder">Angle courant</label>
            <mat-form-field id="angle-attribute">
                <input
                    autocomplete="off"
                    (focus)="onFocus()"
                    (focusout)="onFocusOut()"
                    matInput
                    type="number"
                    formControlName="angle"
                    (input)="onAngleChange()"
                    [min]="stampAngleOrientation.Min"
                    [max]="stampAngleOrientation.Max"
                />
                <mat-error>La valeur inscrite doit être entre {{ stampAngleOrientation.Min }} et {{ stampAngleOrientation.Max }} degrés</mat-error>
                <span matSuffix>degré(s)</span>
                <!-- <span *ngIf= "stampAttributesForm.value.angle == 1 ? 'degré' : 'degrés'" matSuffix>degré(s)</span> -->
            </mat-form-field>
        </div>

        <div class="attribute">
            <label for="stampType">Type d'étampe</label>
            <mat-form-field>
                <mat-select formControlName="stampType" (selectionChange)="onStampTypeChange()">
                    <mat-option value="Smiley">Smiley</mat-option>
                    <mat-option value="Cat">Chat</mat-option>
                    <mat-option value="Money">Argent</mat-option>
                    <mat-option value="Home">Maison</mat-option>
                    <mat-option value="Hipster">Hipster</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>
</div>
