#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 360px;
    background-color: #ffffff;

    z-index: 1;
}

#buttons {
    width: 60px;
    height: 100vh;

    mat-button-toggle-group {
        width: 59px;
        .mat-button-toggle-checked {
            // background-color: #e0e0e0;
        }
    }
}

// mat-button-toggle:active {
// 	background-color: rgb(243, 232, 77) !important;
// }
// mat-button-toggle:focus {
// 	background-color: rgb(236, 20, 20) !important;
// }

