.mat-typography, .mat-typography-local {
    display: grid;
    align-self: center;
    padding: 15px 40px;
}

.mat-typography {
    grid-template-columns: 140px 315px 185px;
    grid-template-rows: 30px 10px auto 10px 30px;
}

.mat-typography-local {
    grid-template-columns: 140px 500px;
    grid-template-rows: 30px 10px 30px;
}

.file-name-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.file-name-input {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    width: 492px;
}

#destination-label {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#input-wrapper {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    align-items: center;
    margin-top: 10px;
}

.tab-content {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.drawing-name-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.drawing-label-title {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.drawing-name-input {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    width: 492px;
}

.drawing-labels-list {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.new-label-input {
    grid-column: 2 / 3;
    grid-row: 5 / 6;

    width: 307px;
}

.new-label-button {
    grid-column: 3 / 4;
    grid-row: 5 / 6;

    text-align: center;
    line-height: 0;
    margin-right: 20px;
    padding: 0;
}

.drawing-name-title,
.drawing-label-title,
.file-name-title,
#destination-label {
    align-self: center;
    font-size: 14px;
}

.drawing-name-input,
.new-label-input,
.file-name-input {
    padding-left: 8px;
    align-self: center;
    margin: 0;
    font-size: 14px;
}

.label {
    padding: 3px 6px;
    margin: 3px 4px;
    min-width: 60px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    border-style: dashed;
    border-radius: 5px;
}

::ng-deep.mat-dialog-actions {
    margin-bottom: 0 !important;
}

#destination-path {
    margin: 0 10px 0 0;
    text-align: left;
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.87);

    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
        0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    line-height: 20px;
    font-size: 12px;

    :focus {
        outline: 1px dotted #000;
    }
}

.fas.fa-folder {
    font-size: 24px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #ff5722;
}

.submit-button-group-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.submit-button-group {
    align-self: flex-end;
}
