.mat-typography, .mat-typography-local {
    display: grid;
    align-self: center;
    padding: 15px 40px;
}

.mat-typography {
    grid-template-columns: 140px 315px 185px;
    grid-template-rows: 30px 10px auto 10px 30px;
}

.mat-typography-local {
    grid-template-columns: 140px 500px;
    grid-template-rows: 30px;
}

.file-name-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.file-name-input {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    width: 492px;
}

.tab-content {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.drawing-name-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.drawing-label-title {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.drawing-name-input {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    width: 492px;
}

.drawing-labels-list {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.new-label-input {
    grid-column: 2 / 3;
    grid-row: 5 / 6;

    width: 307px;
}

.new-label-button {
    grid-column: 3 / 4;
    grid-row: 5 / 6;

    text-align: center;
    line-height: 0;
    margin-right: 20px;
    padding: 0;
}

.drawing-name-title,
.drawing-label-title,
.file-name-title {
    align-self: center;
    font-size: 14px;
}

.drawing-name-input,
.new-label-input,
.file-name-input {
    padding-left: 8px;
    align-self: center;
    margin: 0;
    font-size: 14px;
}

.label {
    padding: 3px 6px;
    margin: 3px 4px;
    min-width: 60px;
    font-size: 12px;
    text-align: center;
    border-style: dashed;
    border-radius: 5px;
}

::ng-deep.mat-dialog-actions {
    margin-bottom: 0 !important;
}

.fas.fa-folder {
    font-size: 24px;
}

.submit-button-group-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.submit-button-group {
    align-self: flex-end;
}
