#selection-list {
    ::ng-deep.mat-pseudo-checkbox {
        display: none !important;
    }
}

#drawing-name,
#drawing-thumbnail {
    padding-top: 4px;
}

#drawing-option {
    display: flex;
    justify-content: space-between;
}

#drawing-labels-list {
    display: flex;
    justify-content: center;
}

#drawing-label {
    padding: 0 6px 0 6px;
    margin: 3px 4px;
    min-width: 60px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}

mat-list-option[aria-selected='true'] {
    background: #a5a5a5;
}

#drawing-thumbnail {
    height: 40px;
    width: 40px;
    border: 1px solid red;
    padding: 0;
}
