<button id="color-tool-button" (click)="showColorOptions()">
    <i class="fas fa-paint-roller"></i>
</button>

<form
    [formGroup]="myForm"
    *ngIf="colorToolOn"
    id="color-tool-form"
    [ngStyle]="{ height: displayColorWheel ? '460px' : '275px' }"
>
    <div class="formGroup">
        <div id="userColor">
            <span id="primaryColorText" [ngStyle]="{ 'font-weight': primaryColorOn ? 'bold' : 'normal' }">
                Couleur principale :</span
            >
            <button
                id="primaryColor"
                (click)="chosePrimaryColor()"
                class="color"
                type="button"
                [ngStyle]="getPrimaryColor()"
            ></button>
            <br />
            <button (click)="switchColors()" id="switch-colors-button" title="Intervertir">
                <i class="fas fa-exchange-alt"></i>
            </button>
            <span id="secondaryColorText" [ngStyle]="{ 'font-weight': secondaryColorOn ? 'bold' : 'normal' }">
                Couleur secondaire :</span
            >
            <button
                id="secondaryColor"
                (click)="choseSecondaryColor()"
                class="color"
                type="button"
                [ngStyle]="getSecondaryColor()"
            ></button>
            <br />
        </div>

        <!-- <div id="color-palette-show-button">
            <button (click)="showColorPalette()">
                <i class="fas fa-palette"></i>
            </button>
            <img *ngIf="ColorPaletteShown" id="color-pick-image" src="../../../../assets/colorImage.jpg" />
        </div> -->

        <div id="colorButtons">
            <button
                class="color"
                type="button"
                *ngFor="let color of colors; let i = index"
                [ngStyle]="getColorIcon(color)"
                (click)="onChangeColor(color)"
            ></button>

            <img
                draggable="false"
                src="../../../assets/color-wheel.png"
                class="color"
                alt="Color Wheel"
                (click)="onClickColorWheel()"
            />
        </div>
        <app-color-picker *ngIf="displayColorWheel" (click)="onClickColorPicker()"></app-color-picker>

        <mat-form-field class="medium">
            <input matInput type="text" placeholder="Hex" formControlName="hex" (change)="onUserColorHex()" />
            <mat-error>Ce code de couleur n'est pas valide!</mat-error>
            <span matPrefix>#</span>
        </mat-form-field>

        <mat-form-field class="small" (change)="onUserColorRGB()">
            <input matInput type="number" placeholder="R:" formControlName="R" />
            <mat-error>R doit être entre 0 et 255!</mat-error>
        </mat-form-field>
        <mat-form-field class="small" (change)="onUserColorRGB()">
            <input matInput type="number" placeholder="G:" formControlName="G" />
            <mat-error>G doit être entre 0 et 255!</mat-error>
        </mat-form-field>
        <mat-form-field class="small" (change)="onUserColorRGB()">
            <input matInput type="number" placeholder="B:" formControlName="B" />
            <mat-error>B doit être entre 0 et 255!</mat-error>
        </mat-form-field>
        <mat-form-field class="small" (change)="onUserColorRGB()">
            <input matInput type="number" placeholder="A:" formControlName="A" step="0.1" />
            <mat-error>Cette valeur doit être entre 0 et 1!</mat-error>
        </mat-form-field>
        <!-- could be also a div... -->
        <div id="last-10-colors">
            Les dix dernières couleurs
        </div>
        <button
            class="color"
            type="button"
            *ngFor="let color of lastTenColors; let i = index"
            [ngStyle]="getColorIcon(color)"
            (click)="onChangeColor(color)"
        ></button>
    </div>

    <!-- <canvas width="600" height="440" id="canvas_picker"></canvas>
<div id="hex">HEX: <input type="text" /></div>
<div id="rgb">RGB: <input type="text" /></div> -->
</form>
