<div id="container">
    <div id="userColorButtons">
        <div>
            <span> Couleur principale :</span>
            <button
                id="primary-color-button"
                (click)="onClickPrimaryColor()"
                class="color"
                type="button"
                [ngStyle]="getPrimaryColorIcon()"
            ></button>
        </div>
        <div>
            <span> Couleur secondaire :</span>
            <button
                id="secondary-color-button"
                (click)="onClickSecondaryColor()"
                class="color"
                type="button"
                [ngStyle]="getSecondaryColorIcon()"
            ></button>
        </div>
        <div>
            <span> Couleur de fond :</span>
            <button
                id="background-color-button"
                (click)="onClickBackgroundColor()"
                class="color"
                type="button"
                [ngStyle]="getBackgroundColorIcon()"
            ></button>
        </div>

        <div>
            <button mat-stroked-button (click)="switchColors()" id="switch-colors-button" title="Intervertir">
                Principale <i class="fas fa-exchange-alt"></i> Secondaire
            </button>
        </div>
    </div>
</div>
