<div id="container">
    <div>
        <app-selection-attributes [hidden]="currentToolName !== ToolName.Selection"></app-selection-attributes>
        <app-pencil-attributes [hidden]="currentToolName !== ToolName.Pencil"></app-pencil-attributes>
        <app-rectangle-attributes [hidden]="currentToolName !== ToolName.Rectangle"></app-rectangle-attributes>
        <app-brush-attributes [hidden]="currentToolName !== ToolName.Brush"></app-brush-attributes>
        <app-color-applicator-attributes
            [hidden]="currentToolName !== ToolName.ColorApplicator"
        ></app-color-applicator-attributes>
        <app-stamp-attributes [hidden]="currentToolName !== ToolName.Stamp"></app-stamp-attributes>
        <app-dropper-attributes [hidden]="currentToolName !== ToolName.Dropper"></app-dropper-attributes>
    </div>
    <div>
        <app-color-palette id="color-palette" [hidden]="!showColorPalette"></app-color-palette>
        <app-color-attributes></app-color-attributes>
    </div>
</div>
