<div id="container">
    <div>
        <app-selection-attributes [hidden]="currentToolName !== TOOL_NAME.Selection"></app-selection-attributes>
        <app-pencil-attributes [hidden]="currentToolName !== TOOL_NAME.Pencil"></app-pencil-attributes>
        <app-rectangle-attributes [hidden]="currentToolName !== TOOL_NAME.Rectangle"></app-rectangle-attributes>
        <app-brush-attributes [hidden]="currentToolName !== TOOL_NAME.Brush"></app-brush-attributes>
        <app-line-attributes [hidden]="currentToolName !== TOOL_NAME.Line"></app-line-attributes>
        <app-color-applicator-attributes
            [hidden]="currentToolName !== TOOL_NAME.ColorApplicator"
        ></app-color-applicator-attributes>
        <app-polygon-attributes [hidden]="currentToolName !== TOOL_NAME.Polygon"></app-polygon-attributes>
        <app-grid-attributes [hidden]="currentToolName !== TOOL_NAME.Grid"></app-grid-attributes>
        <app-stamp-attributes [hidden]="currentToolName !== TOOL_NAME.Stamp"></app-stamp-attributes>
        <app-dropper-attributes [hidden]="currentToolName !== TOOL_NAME.Dropper"></app-dropper-attributes>
        <app-ellipsis-attributes [hidden]="currentToolName !== TOOL_NAME.Ellipsis"></app-ellipsis-attributes>
        <app-pen-attributes [hidden]="currentToolName !== TOOL_NAME.Pen"></app-pen-attributes>
        <app-quill-attributes [hidden]="currentToolName !== TOOL_NAME.Quill"></app-quill-attributes>
        <app-text-attributes [hidden]="currentToolName !== TOOL_NAME.Text"></app-text-attributes>
        <app-eraser-attributes [hidden]="currentToolName !== TOOL_NAME.Eraser"></app-eraser-attributes>
        <app-magnetism-attributes [hidden]="currentToolName !== TOOL_NAME.Magnetism"></app-magnetism-attributes>
        <app-spray-can-attributes [hidden]="currentToolName !== TOOL_NAME.SprayCan"></app-spray-can-attributes>
    </div>
    <div>
        <app-color-palette id="color-palette" [hidden]="!showColorPalette"></app-color-palette>
        <app-color-attributes></app-color-attributes>
    </div>
</div>
