#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 36px;
    right: 0;

    padding: 40px;

    border-left: 1px solid #d0d0d0;
    border-right: 2px solid #d0d0d0;

    #attribute-header {
        text-align: center;
        font-weight: bold;
    }

    .attribute {
        padding: 30px 0;
    }
}

.mat-slider-horizontal {
    width: 170px;
}

.small {
    margin-left: 10px;
    width: 25%;
}
