<div id="sidebar">
    <div id="tools-buttons">
        <mat-button-toggle-group vertical="true" name="fontStyle" aria-label="Font Style" value="0">
            <mat-button-toggle
                *ngFor="let TOOL_BUTTON_INFO of TOOLS_BUTTON_INFO; let index = index"
                matTooltip="{{ TOOL_BUTTON_INFO.tooltipName }}"
                matTooltipPosition="after"
                (click)="onChangeTool(index)"
                value="{{ index }}"
            >
                <i class="{{ TOOL_BUTTON_INFO.iconName }}"> </i>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group vertical="true" name="fontStyle" aria-label="Font Style" id="file-buttons">
            <mat-button-toggle
                *ngFor="let FILE_BUTTON_INFO of FILES_BUTTON_INFO"
                matTooltip="{{ FILE_BUTTON_INFO.tooltipName }}"
                matTooltipPosition="after"
                (click)="onChangeTool(1)"
            >
                <i class="{{ FILE_BUTTON_INFO.iconName }}"></i>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <app-attribute-panel [currentToolId]="toolsService.getCurrentToolId()"></app-attribute-panel>
</div>
