<h2 mat-dialog-title>Bienvenue à P9, votre nouvel ami pour design!</h2>
<mat-dialog-content class="mat-typography">
  <h3>Develop across all platforms</h3>
  <p>Learn one way to build applications with Angular and reuse your code and abilities to build
    apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
  <h3>Consultez le guide utilisateur pour les détails concernant l'utilisation de l'application.</h3>
</mat-dialog-content>
<mat-checkbox>Ne plus montrer ce message.</mat-checkbox>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Commencer</button>
</mat-dialog-actions>
