<div id="mask" *ngIf="ifShowWindow">
	<div id="window" [ngStyle]="setWindowHeight()">
		<h1 id="title">Création d'un nouveau dessin</h1>
		<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
			<div class="formGroup">
				<div id="userColor">
					<span> Couleur de fond :</span>
					<button id="bigColor" class="color" type="button" [ngStyle]="getUserColorIcon()"></button>
					<br />
				</div>
				<button
					class="color"
					type="button"
					*ngFor="let color of colors; let i = index"
					[ngStyle]="getColorIcon(color)"
					(click)="changeColor(i)"
				></button>

				<mat-form-field class="medium">
					<input matInput type="text" placeholder="Hex" formControlName="hex" (change)="onUserColorHex()" />
					<mat-error>Ce code de couleur n'est pas valide!</mat-error>
					<span matPrefix>#</span>
				</mat-form-field>

				<mat-form-field class="small" (change)="onUserColorRGB()">
					<input matInput type="number" placeholder="R:" formControlName="R" />
					<mat-error>R doit être entre 0 et 255!</mat-error>
				</mat-form-field>
				<mat-form-field class="small" (change)="onUserColorRGB()">
					<input matInput type="number" placeholder="G:" formControlName="G" />
					<mat-error>G doit être entre 0 et 255!</mat-error>
				</mat-form-field>
				<mat-form-field class="small" (change)="onUserColorRGB()">
					<input matInput type="number" placeholder="B:" formControlName="B" />
					<mat-error>B doit être entre 0 et 255!</mat-error>
				</mat-form-field>
				<mat-form-field class="small" (change)="onUserColorRGB()">
					<input matInput type="number" placeholder="A:" formControlName="A" />
					<mat-error>La transparence doit être entre 0 et 1!</mat-error>
				</mat-form-field>
			</div>

			<div class="formGroup">
				<mat-form-field>
					<input matInput type="number" placeholder="Largeur" formControlName="width" />
					<span matSuffix>px</span>
					<mat-error>La largeur doit être entre 0 et 10000!</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input matInput type="number" placeholder="Hauteur" formControlName="height" />
					<span matSuffix>px</span>
					<mat-error>La hauteur doit être entre 0 et 10000!</mat-error>
				</mat-form-field>
			</div>

			<div id="confirmation" [hidden]="submitCount == 0">
				<mat-error>
					<i class="fas fa-exclamation-triangle"></i>
					Un dessin existe déja dans votre zone de travail!
					<i class="fas fa-exclamation-triangle"></i>
				</mat-error>
				<mat-checkbox color="warn" formControlName="confirm" required>
					Je comfire que je veux créer un nouveau dessin.
				</mat-checkbox>
			</div>

			<button class="actionButton" mat-stroked-button type="button" (click)="cancel()">Annuler</button>
			<button class="actionButton" mat-stroked-button type="submits" [disabled]="myForm.invalid">Créer!</button>
		</form>
	</div>
</div>
