#mask {
	position: absolute;
	top: 0;
	left: 0px;
	background-color: rgba($color: #000000, $alpha: 0.2);
	height: 100vh;
	width: 100vw;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

#window {
	height: 500px;
	width: 500px;
	background-color: white;
	padding: 30px 30px;

	text-align: center;
}

mat-form-field {
	margin: 20px 10px;

	span {
		color: #888888;
		margin-right: 5px;
	}
}

.medium {
	width: 20%;
}
.small {
	width: 10%;
}

.color {
	width: 0;
	height: 0;
	padding: 10px;
	border: 1px solid #d0d0d0;
	margin: 5px;
	border-radius: 100%;
	outline: none;
}
.color:hover:not(#bigColor) {
	filter: brightness(0.8);
}
.color:active:not(#bigColor) {
	filter: brightness(1);
}

#userColor {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;

	.color {
		margin-left: 15px;
	}

	#bigColor {
		padding: 15px;
	}
}

.actionButton {
	width: 90px;
	margin: 10px 20px;
}

#confirmation {
	margin-bottom: 20px;
}
