<div id="mask" *ngIf="show">
	<div id="window">
		<h1 id="title">Création d'un nouveau dessin</h1>
		<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
			Value:{{ myForm.value | json }}
			<br />

			<mat-form-field>
				<input matInput placeholder="Largeur" formControlName="width" />
			</mat-form-field>
			<br />

			<mat-form-field>
				<input matInput placeholder="Hauteur" formControlName="height" />
			</mat-form-field>
			<br />

			<button mat-raised-button type="submits">Submit</button>
		</form>
	</div>
</div>
