<div id="mask" *ngIf="show">
	<div id="window">
		<h1 id="title">Création d'un nouveau dessin</h1>
		<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
			<p>Value:{{ myForm.value | json }}</p>

			<div id="userColor">
				<span> Couleur de fond :</span>
				<button class="color" type="button" [ngStyle]="getUserColorIcon()"></button>
				<br />
			</div>
			<button
				class="color"
				type="button"
				*ngFor="let color of colors; let i = index"
				[ngStyle]="getColorIcon(color)"
				(click)="changeColor(i)"
			></button>

			<mat-form-field>
				<input matInput type="text" placeholder="Couleur" formControlName="color" (change)="onUserColor()" />
				<span matPrefix>#</span>
				<mat-error>la valeur doit etre entre 0 et 10000</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="number" placeholder="Largeur" formControlName="width" />
				<mat-error>la valeur doit etre entre 0 et 10000</mat-error>
			</mat-form-field>
			<br />

			<mat-form-field>
				<input matInput type="number" placeholder="Hauteur" formControlName="height" />
				<mat-error>la valeur doit etre entre 0 et 10000</mat-error>
			</mat-form-field>
			<br />

			<button mat-raised-button type="submits" [disabled]="myForm.invalid">Submit</button>
		</form>
	</div>
</div>
