#mask {
	position: absolute;
	top: 0;
	left: 0px;
	background-color: rgba($color: #000000, $alpha: 0.2);
	height: 100vh;
	width: 100vw;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

#window {
	height: 500px;
	width: 500px;
	background-color: white;
	padding: 20px 30px;

	text-align: center;

	mat-form-field {
		margin: 0 10px;
	}

	.small {
		width: 10%;
	}
}

#userColor {
	display: flex;
	justify-content: center;
	align-items: center;
}

.color {
	width: 0;
	height: 0;
	padding: 10px;
	border: 1px solid #d0d0d0;
	margin: 5px;
	border-radius: 100%;
	outline: none;
}
.color:hover {
	filter: brightness(0.8);
}
.color:active {
	filter: brightness(1);
}

#white {
	background-color: white;
}
#red {
	background-color: rgb(211, 58, 58);
}
#white {
	background-color: rgb(28, 101, 211);
}
