<div id="container">
    <div id="attribute-header">
        {{ toolName }}
    </div>

    <p>
        Sélectionnez une forme en effectuant un glisser-déposer du clique gauche.
    </p>
    <p>
        Inversez la sélection en effectuant un glisser-déposer du clique droit.
    </p>

    <div id="clipboard-options">
        <p>
            Manipulation de sélection:
        </p>
        <mat-button-toggle-group horizontal="true" id="clipboard-buttons">
            <mat-button-toggle
                matTooltip="{{ SELECT_ALL_BUTTON.tooltipName }} {{ SELECT_ALL_BUTTON.shortcut }}"
                matTooltipPosition="after"
                (click)="onButtonTrigger(SELECT_ALL_BUTTON.tooltipName)"
            >
                <i class="{{ SELECT_ALL_BUTTON.iconName }}"></i>
            </mat-button-toggle>
            <mat-button-toggle
                *ngFor="let CLIPBOARD_BUTTON of CLIPBOARD_BUTTONS"
                matTooltip="{{ CLIPBOARD_BUTTON.tooltipName }} {{ CLIPBOARD_BUTTON.shortcut }}"
                matTooltipPosition="after"
                (change)="onButtonTrigger(CLIPBOARD_BUTTON.tooltipName)"
                [class.disabled]="shouldDisable"
                [disabled]="shouldDisable"
            >
                <i *ngIf="!shouldDisable; else inactive_icon" class="{{ CLIPBOARD_BUTTON.iconName }}"></i>
                <ng-template #inactive_icon
                    ><i style="color:grey;" class="{{ CLIPBOARD_BUTTON.iconName }}"></i
                ></ng-template>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
