<div id="container">
    <div id="attribute-header">
        {{ toolName }}
    </div>

    <p>
        Sélectionnez une forme en effectuant un glisser-déposer du clique gauche.
    </p>
    <p>
        Inversez la sélection en effectuant un glisser-déposer du clique droit.
    </p>
    <p>
        Tournez la sélection en faisant rouler la roulette de la souris.
    </p>
    <p>
        Redimensionnez la sélection en effectuant un glisser-déposer du clique gauche sur les points de contrôles.
    </p>

    <div id="clipboard-options">
        <p>
            Manipulation de sélection:
        </p>
        <mat-button-toggle-group horizontal="true" id="clipboard-buttons">
            <mat-button-toggle
                matTooltip="{{ SELECT_ALL_BUTTON.tooltipName }} {{ SELECT_ALL_BUTTON.shortcut }}"
                matTooltipPosition="after"
                (click)="onButtonTrigger(SELECT_ALL_BUTTON.tooltipName)"
            >
                <i class="{{ SELECT_ALL_BUTTON.iconName }}"></i>
            </mat-button-toggle>
            <mat-button-toggle
                matTooltip="{{ PASTE_BUTTON.tooltipName }} {{ PASTE_BUTTON.shortcut }}"
                matTooltipPosition="after"
                (click)="onButtonTrigger(PASTE_BUTTON.tooltipName)"
                [class.disabled]="isClippingsEmpty"
                [disabled]="isClippingsEmpty"
            >
                <i *ngIf="!isClippingsEmpty; else inactive_paste" class="{{ PASTE_BUTTON.iconName }}"></i>
                <ng-template #inactive_paste
                    ><i style="color:silver;" class="{{ PASTE_BUTTON.iconName }}"></i
                ></ng-template>
            </mat-button-toggle>
            <mat-button-toggle
                *ngFor="let CLIPBOARD_BUTTON of CLIPBOARD_BUTTONS"
                matTooltip="{{ CLIPBOARD_BUTTON.tooltipName }} {{ CLIPBOARD_BUTTON.shortcut }}"
                matTooltipPosition="after"
                (change)="onButtonTrigger(CLIPBOARD_BUTTON.tooltipName)"
                [class.disabled]="!isActiveSelection"
                [disabled]="!isActiveSelection"
            >
                <i *ngIf="isActiveSelection; else inactive_icon" class="{{ CLIPBOARD_BUTTON.iconName }}"></i>
                <ng-template #inactive_icon
                    ><i style="color:silver;" class="{{ CLIPBOARD_BUTTON.iconName }}"></i
                ></ng-template>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
