#container {
    padding: 30px 40px;
    padding-bottom: 0px;

    #attribute-header {
        text-align: center;
        font-weight: bold;
    }

    .attribute {
        padding-top: 30px;
    }
}

.mat-button-toggle-checked {
    background: #ffffff;
    * {
        color: black;
    }
}

.mat-button-toggle {
    width: 40px;
    height: 40px;
    border: none;

    i {
        font-size: 100%;
    }
}
