#container {
    padding: 30px 40px;
    padding-bottom: 0px;

    #attribute-header {
        text-align: center;
        font-weight: bold;
    }

    .attribute {
        padding-top: 30px;
    }
}

.mat-slider-horizontal {
    width: 170px;
}

.small {
    margin-left: 10px;
    width: 25%;
}

img {
    position: relative;
    top: 10px;
    left: 5px;
}

.class1 {
    background: url('/assets/brush1.png') center / contain no-repeat;
    white-space: nowrap;
    display: inline;
}

.class2 {
    background: url('/assets/brush2.png') center / contain no-repeat;
    white-space: nowrap;
    display: inline;
}

.class3 {
    background: url('/assets/brush3.png') center / contain no-repeat;
    white-space: nowrap;
    display: inline;
}

.class4 {
    background: url('/assets/brush4.png') center / contain no-repeat;
    white-space: nowrap;
    display: inline;
}

.class5 {
    background: url('/assets/brush5.png') center / contain no-repeat;
    white-space: nowrap;
    display: inline;
}
