<div id="container">
    <div id="attribute-header">
        {{ toolName }}
    </div>

    <form [formGroup]="textAttributesForm">
        <div class="attribute">
            <mat-form-field appearance="outline">
                <mat-select formControlName="font">
                    <mat-option *ngFor="let FONT of FONTS" [ngStyle]="{ 'font-family': FONT.fontFamily }">
                        {{ FONT.fontName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-button-toggle-group>
                <mat-button-toggle><i class="fas fa-align-left"></i></mat-button-toggle>
                <mat-button-toggle><i class="fas fa-align-center"></i></mat-button-toggle>
                <mat-button-toggle><i class="fas fa-align-right"></i></mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-stroked-button><i class="fas fa-bold"></i></button>
            <button mat-stroked-button><i class="fas fa-italic"></i></button>
        </div>
    </form>
</div>
