#container {
    padding: 30px 40px;
    padding-bottom: 0px;

    #attribute-header {
        text-align: center;
        font-weight: bold;
    }

    .attribute-button {
        padding-top: 30px;
    }
}

.mat-slider-horizontal {
    width: 150px;
}

.small {
    margin-left: 10px;
    width: 25%;
}
