p {
    color: rgb(153, 153, 153);
    font-size: 11.2px;
    margin: 5px 0;
}

#buttons {
    margin-bottom: 10px;

    .color {
        width: 0;
        height: 0;
        padding: 8px;
        border: 1px solid #d0d0d0;
        margin: 2px;
        border-radius: 100%;
        outline: none;
        transition: ease-in-out 0.2s;
    }
    .color:hover:not(#bigColor) {
        transform: scale(1.2);
    }
    .color:active:not(#bigColor) {
        transform: scale(1);
    }
}
