<div id="container">
  <div id="attribute-header">
      {{ toolName }}
  </div>

  <form [formGroup]="quillAttributesForm">
      <div class="attribute">
          <label for="thickness">Longueur du trait</label>
          <mat-slider
              formControlName="thickness"
              (input)="onSliderChange($event)"
              [min]="THICKNESS.Min"
              [max]="THICKNESS.Max"
              value="{{ quillAttributesForm.value.thickness }}"
          ></mat-slider>
          <mat-form-field class="small">
              <input
                  autocomplete="off"
                  (focus)="onFocus()"
                  (focusout)="onFocusOut()"
                  matInput
                  type="number"
                  formControlName="thickness"
                  (input)="onThicknessChange()"
                  [min]="THICKNESS.Min"
                  [max]="THICKNESS.Max"
              />
              <mat-error>La valeur inscrite doit être entre {{ THICKNESS.Min }} et {{ THICKNESS.Max }} px</mat-error>
              <span matSuffix>px</span>
          </mat-form-field>
      </div>

      <div class="attribute">
          <label>Angle courant</label>
          <mat-form-field id="angle-attribute">
              <input
                  autocomplete="off"
                  (focus)="onFocus()"
                  (focusout)="onFocusOut()"
                  matInput
                  type="number"
                  formControlName="angle"
                  (input)="onAngleChange()"
                  [value]="quillToolService.angle"
                  [min]="QUILL_ANGLE_ORIENTATION.Min"
                  [max]="QUILL_ANGLE_ORIENTATION.Max"
              />
              <mat-error
                  >La valeur inscrite doit être entre {{ QUILL_ANGLE_ORIENTATION.Min }} et
                  {{ QUILL_ANGLE_ORIENTATION.Max }} degrés</mat-error
              >
              <span matSuffix>degré(s)</span>
          </mat-form-field>
      </div>
  </form>
</div>