<svg width="900" height="600" (mousedown)="mouseDown($event)" (mousemove)="mouseMove($event)" (mouseup)="mouseUp($event)" 
style="border: 1px solid #cccccc;">
    <g *ngFor="let stroke of strokes">
        <line *ngFor="let point of stroke.coordinates" 
            [attr.x1]="point.x" [attr.y1]="point.y" 
            [attr.x2]="point.x" [attr.y2]="point.y"
            [attr.stroke-width]="stroke.width" 
            stroke-linecap="round" stroke="black"/>
        <path [attr.d]="stroke.pathString" stroke="black" [attr.stroke-width]="(stroke.width)" fill="none"></path>
    </g>
</svg>
