<div id="container">
    <form
        [formGroup]="colorPaletteForm"
        id="color-palette-form"
        [ngStyle]="{ height: displayColorWheel ? '460px' : '275px' }"
    >
        <div class="formGroup">
            <div id="userColor">
                <span> Couleur courante :</span>
                <button id="bigColor" class="color" type="button" [ngStyle]="getUserColorIcon()"></button>
                <br />
            </div>

            <div>
                <app-color-picker></app-color-picker>
            </div>

            <div id="form-inputs">
                <mat-form-field class="medium">
                    <input
                        (focus)="onFocus()"
                        (focusout)="onFocusOut()"
                        matInput
                        type="text"
                        placeholder="Hex"
                        formControlName="hex"
                        (change)="onUserHexInput()"
                    />
                    <mat-error>Ce code de couleur n'est pas valide!</mat-error>
                    <span matPrefix>#</span>
                </mat-form-field>
                <br />
                <mat-form-field class="small" (change)="onUserColorRGBInput()">
                    <input
                        (focus)="onFocus()"
                        (focusout)="onFocusOut()"
                        matInput
                        type="number"
                        placeholder="R:"
                        formControlName="R"
                        min="0"
                        max="255"
                    />
                    <mat-error>R doit être entre 0 et 255!</mat-error>
                </mat-form-field>
                <mat-form-field class="small" (change)="onUserColorRGBInput()">
                    <input
                        (focus)="onFocus()"
                        (focusout)="onFocusOut()"
                        matInput
                        type="number"
                        placeholder="G:"
                        formControlName="G"
                        min="0"
                        max="255"
                    />
                    <mat-error>G doit être entre 0 et 255!</mat-error>
                </mat-form-field>
                <mat-form-field class="small" (change)="onUserColorRGBInput()">
                    <input
                        (focus)="onFocus()"
                        (focusout)="onFocusOut()"
                        matInput
                        type="number"
                        placeholder="B:"
                        formControlName="B"
                        min="0"
                        max="255"
                    />
                    <mat-error>B doit être entre 0 et 255!</mat-error>
                </mat-form-field>
                <mat-form-field class="small" (change)="onUserColorRGBInput()">
                    <input
                        (focus)="onFocus()"
                        (focusout)="onFocusOut()"
                        matInput
                        type="number"
                        placeholder="A:"
                        formControlName="A"
                        min="0"
                        max="1"
                        step="0.1"
                    />
                    <mat-error>Cette valeur doit être entre 0 et 1!</mat-error>
                </mat-form-field>
            </div>

            <app-color-queue (clickedColorButton)="onClickColorQueueButton($event)"></app-color-queue>
        </div>

        <div id="buttons">
            <button class="actionButton" mat-stroked-button type="button" (click)="onCancel()">
                Annuler
            </button>
            <button
                class="actionButton"
                mat-flat-button
                color="accent"
                type="submit"
                (click)="onSubmit()"
                [disabled]="colorPaletteForm.invalid"
            >
                Choisir
            </button>
        </div>
    </form>
</div>
