#container {
    height: 510px;
}

#color-palette-form {
    margin-bottom: 20px;

    #userColor {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            width: 190px;
        }
    }

    #bigColor {
        transform: scale(1.4);
    }

    .color {
        width: 0;
        height: 0;
        padding: 10px;
        border-radius: 100%;
        border: 1px solid black;
        border-style: dashed;
        margin: 5px;
        outline: none;
        transition: ease-in-out 0.2s;
    }
    .color:hover:not(#bigColor) {
        transform: scale(1.2);
    }
    .color:active:not(#bigColor) {
        transform: scale(1);
    }

    .medium {
        margin-top: 20px;
        width: 100px;
    }
    .small {
        margin: 0 5px;
        width: 50px;
    }

    #buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin: 0px 15px;
            margin-bottom: 40px;
        }
    }
}
