#container {
    padding: 30px 40px;

    #attribute-header {
        text-align: center;
        font-weight: bold;
    }

    .attribute {
        padding: 30px 0;
    }
}

.mat-slider-horizontal {
    width: 170px;
}

.small {
    margin-left: 10px;
    width: 25%;
}
