<div id="container">
    <div id="attribute-header">
        {{ toolName }}
    </div>

    <form [formGroup]="fillAttributesForm">
        <div class="attribute">
            <label for="THICKNESS">Épaisseur du trait</label>
            <mat-slider
                formControlName="THICKNESS"
                (input)="onThicknessSliderChange($event)"
                [min]="THICKNESS.Min"
                [max]="THICKNESS.Max"
                value="{{ fillAttributesForm.value.THICKNESS }}"
            ></mat-slider>
            <mat-form-field class="small">
                <input
                    autocomplete="off"
                    (focus)="onFocus()"
                    (focusout)="onFocusOut()"
                    matInput
                    type="number"
                    formControlName="THICKNESS"
                    (input)="onThicknessChange()"
                    [min]="THICKNESS.Min"
                    [max]="THICKNESS.Max"
                />
                <mat-error>La valeur inscrite doit être entre {{ THICKNESS.Min }} et {{ THICKNESS.Max }} px</mat-error>
                <span matSuffix>px</span>
            </mat-form-field>
        </div>
        <div class="attribute">
            <label for="TOLERANCE">Tolérance</label> <br />
            <mat-slider
                placeholder="Tolérance"
                formControlName="TOLERANCE"
                (input)="onToleranceSliderChange($event)"
                [min]="TOLERANCE.Min"
                [max]="TOLERANCE.Max"
                value="{{ fillAttributesForm.value.TOLERANCE }}"
            ></mat-slider>
            <mat-form-field class="small">
                <input
                    autocomplete="off"
                    (focus)="onFocus()"
                    (focusout)="onFocusOut()"
                    matInput
                    type="number"
                    formControlName="TOLERANCE"
                    (input)="onToleranceChange()"
                    [min]="TOLERANCE.Min"
                    [max]="TOLERANCE.Max"
                />
                <mat-error>La valeur inscrite doit être entre {{ TOLERANCE.Min }} et {{ TOLERANCE.Max }} %</mat-error>
                <span matSuffix>%</span>
            </mat-form-field>
        </div>
        <div id="attribute">
            <label for="traceType">Type de tracé</label>
            <mat-form-field>
                <mat-select formControlName="traceType" (selectionChange)="onTraceTypeChange()">
                    <mat-option value="Contour">Contour</mat-option>
                    <mat-option value="Plein">Plein</mat-option>
                    <mat-option value="Plein avec contour">Plein avec contour</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
