#ColorWheelContainer {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    height: 200px;
    width: 150px;

    label {
        position: relative;
        left: -35px;
        top: 10px;
        margin-top: 20px;
        font-size: 70%;
        color: #999999;
    }

    mat-slider {
        padding-top: 0px;
        padding-bottom: 20px;
        width: 150px;
    }

    #currentColor {
        display: none;
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        padding: 10px;
        border: 1px solid #ffffff;
        margin: 5px;
        border-radius: 100%;
        outline: none;
    }
}
